name: Parse XLSX to JSON and commit

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  download-and-commit:
    runs-on: ubuntu-latest
    environment: csv_to_json
    env:
      CHILE_FILE: ${{ vars.CHILE_FILE }}
      PERU_FILE: ${{ vars.PERU_FILE }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download XLSX Files
      env:
        CURL_COMMAND: ${{ secrets.DOWNLOADER_URL }}
      run: |
        echo "$CURL_COMMAND" | bash
        ./xlsx_downloader.sh -d ./downloaded -f "$CHILE_FILE" "${{ secrets.CHILE_FILE_URL }}"
        ./xlsx_downloader.sh -d ./downloaded -f "$PERU_FILE" "${{ secrets.PERU_FILE_URL }}"
        sudo apt install tree
        tree .

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt
        fi

    - name: Run all Python scripts
      run: |
        for script in scripts/*.py; do
          echo "Running $script"
          python "$script"
        done

    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add json/
        git commit -m "Update JSON files" || true
        git push
